.footer {
  background-color: $color-gray-light-1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2393ddff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");  

  color: $color-gray-dark-1;
  padding: 10rem 4rem;
  font-size: 1.4rem;
  border-radius: 0 0 1.5rem 1.5rem;

  @include respond(tablet-portrait) {
    padding: 8rem 0;
    border-radius: 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tablet-portrait) {
      margin-bottom: 6rem;
    }
  }

  // &__logo {
  //   width: 15rem;
  //   height: auto;
  // }

  &__navigation {
    display: flex;
    justify-content: center;
    border-top: 1px solid $color-gray-dark-2;
    padding-top: 2rem;

    @include respond(tablet-portrait) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link, &:visited {
      color: $color-gray-dark-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }
    &:hover, &:active {
      color: $color-primary;
      text-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    }
  }

  &__copyright {
    border-top: 1px solid $color-gray-dark-2;
    padding-top: 2rem;
    width: 80%;
    float: right;
    @include respond(tablet-portrait) {
      width: 100%;
      text-align: center;
      float: none;
    }
  }
}