// colors
$color-primary: #00aeff;
$color-primary-light: #93ddff;
$color-primary-dark: #0072a7;

$color-secondary-light: #ffb900;
$color-secondary: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark-3: #333;
$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-white: #fff;
$color-black: #222;

// grid
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 3rem;

// font
$default-font-size: 1.6rem;