.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tablet-portrait) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skew(0);
  }

  &__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    background-color: orangered;
    float: left;
    transform: translateX(-3rem) skew(12deg); // this translation "overrides" any inherited transforms. So we have to add the skew manually
    overflow: hidden;
    border-radius: 50%;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%); // for this to work, the element must be floated and have defined height & width
      border-radius: none;
    }

    @include respond(phone) {
      float: none;
      display: block;
      margin: 0 auto 2rem auto;
      transform: translateX(-3rem) skew(0); // this translation "overrides" any inherited transforms. So we have to add the skew manually
    }
  }

  &__image {
    height: 100%;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    @include absoluteCenter;
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

}