.header {
  height: 85vh;
  background-color: $color-primary;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  border-radius: 1.5rem 1.5rem 0 0;
  position: relative;

  @supports (clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%)) or
    (-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%)) {
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    height: 95vh;
  }

  @include respond(phone) {
    @supports (clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%)) or
    (-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%)) {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
    }
  }

  @include respond(tablet-portrait) {
    border-radius: 0;
  }

  &__logo-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  &__text-box {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__button-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
